<a href="https://colab.research.google.com/github/aliyapsubeer/ALIYAPSUBEER_LOANANALYSIS/blob/main/loan_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
data_train = pd.read_csv(r'/content/train_ctrUa4K.csv')
data_test=pd.read_csv(r'/content/test_lAUu6dG.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data_test_copy=data_test

In [ ]:
data_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
data_train.shape

(614, 13)

In [ ]:
data_train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [ ]:
data_train.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [ ]:
data_train= data_train.fillna(0)
data_train.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
data_test.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [ ]:
data_test=data_test.fillna(0)
data_test.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Convert data from a list to a DataFrame
data_train = pd.DataFrame(data_train)

# Convert the specified columns to strings
cols = ['Gender','Married','Education','Self_Employed','Property_Area']
data_train[cols] = data_train[cols].astype(str)

# Apply label encoding to the specified columns
le = LabelEncoder()
for col in cols:
  data_train[col] = le.fit_transform(data_train[col])

# Display the resulting DataFrame
data_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,2,1,0,0,1,5849,0.0,0.0,360.0,1.0,2,Y
1,LP001003,2,2,1,0,1,4583,1508.0,128.0,360.0,1.0,0,N
2,LP001005,2,2,0,0,2,3000,0.0,66.0,360.0,1.0,2,Y
3,LP001006,2,2,0,1,1,2583,2358.0,120.0,360.0,1.0,2,Y
4,LP001008,2,1,0,0,1,6000,0.0,141.0,360.0,1.0,2,Y

In [ ]:
le = LabelEncoder()
data_train['Loan_Status'] = le.fit_transform(data_train['Loan_Status'])

In [ ]:
data_train= data_train.fillna(0)
data_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,2,1,0,0,1,5849,0.0,0.0,360.0,1.0,2,1
1,LP001003,2,2,1,0,1,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,2,2,0,0,2,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,2,2,0,1,1,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,2,1,0,0,1,6000,0.0,141.0,360.0,1.0,2,1

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Convert data from a list to a DataFrame
data_test = pd.DataFrame(data_test)

# Convert the specified columns to strings
cols = ['Gender','Married','Education','Self_Employed','Property_Area']
data_test[cols] = data_test[cols].astype(str)

# Apply label encoding to the specified columns
le = LabelEncoder()
for col in cols:
  data_test[col] = le.fit_transform(data_test[col])

# Display the resulting DataFrame
data_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,2,1,0,0,1,5720,0,110.0,360.0,1.0,2
1,LP001022,2,1,1,0,1,3076,1500,126.0,360.0,1.0,2
2,LP001031,2,1,2,0,1,5000,1800,208.0,360.0,1.0,2
3,LP001035,2,1,2,0,1,2340,2546,100.0,360.0,0.0,2
4,LP001051,2,0,0,1,1,3276,0,78.0,360.0,1.0,2

In [ ]:
data_train.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents            object
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [ ]:

from sklearn.feature_selection import SelectKBest, chi2
X = data_train.drop(['Loan_ID', 'Dependents','Loan_Status'], axis=1)
y = data_train['Loan_Status']

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Create a logistic regression model
model = LogisticRegression()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model's performance
accuracy = model.score(X_test, y_test)
print('Accuracy:', accuracy)

Accuracy: 0.7560975609756098

In [ ]:


# Apply SelectKBest to select the top 2 features
selector = SelectKBest(chi2, k='all')
X_new = selector.fit_transform(X, y)

# Display the selected features
selected_features = X.columns[selector.get_support()]
print('Selected features:', selected_features)

Selected features: Index(['Gender', 'Married', 'Education', 'Self_Employed', 'ApplicantIncome',
       'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
       'Property_Area'],
      dtype='object')

In [ ]:
from sklearn.tree import DecisionTreeClassifier

# Create a decision tree classifier
model = DecisionTreeClassifier()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model's performance
accuracy = model.score(X_test, y_test)
print('Accuracy:', accuracy)

Accuracy: 0.7479674796747967

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split


# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Create a random forest classifier
model = RandomForestClassifier()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model's performance
accuracy = model.score(X_test, y_test)
print('Accuracy:', accuracy)

Accuracy: 0.7560975609756098

In [ ]:
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split


# Create a gradient boosting classifier
model = GradientBoostingClassifier()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model's performance
accuracy = model.score(X_test, y_test)
print('Accuracy:', accuracy)

Accuracy: 0.7398373983739838

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

# Create a logistic regression model
model = LogisticRegression()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model's performance
accuracy = model.score(X_test, y_test)
print('Accuracy:', accuracy)

Accuracy: 0.7723577235772358

In [ ]:
data_test = data_test.drop(['Loan_ID', 'Dependents'], axis=1)
pred_test= model.predict(data_test)

In [ ]:
submission=pd.read_csv(r"/content/sample_submission_49d68Cx (1).csv")

In [ ]:
submission['Loan_Status']=pred_test
submission['Loan_ID']= data_test_copy['Loan_ID']

In [ ]:
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

In [ ]:
# Save the submission data to a CSV file
submission.to_csv('submission.csv', index=False)

In [ ]:
pd.DataFrame(submission, columns=['loan_ID','Loan_Status']).to_csv('log.csv')

In [ ]:
print(submission.columns)

Index(['Loan_ID', 'Loan_Status'], dtype='object')

In [ ]:
submission.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           N
4  LP001051           Y

In [ ]:
submission.shape

(367, 2)